
<div class="mt-3 wrapper">
  <div class="w-50 float-left p-3 left">
    <div id="gallery-carousel" class="carousel slide text-center" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="border rounded" style="max-height: 25em" src="{{ product.images[0] }}" alt="First slide">
        </div>
        <div *ngFor="let image of product.images.slice(1)" class="carousel-item active">
          <img class="border rounded" style="max-height: 25em" src="{{ image }}" alt="First slide">
        </div>
      </div>
    </div>
  </div>

  <div class="w-50 float-left p-3 right">
    <h2><b>{{ product.name }}</b></h2>
    <h3>{{ product.price }}€</h3>
    <h4>{{ product.stock }} in stock</h4>
    <p>Product ID: {{ num }}</p>
    <p>Sold by {{ product.seller.username }}</p>
    <p>Category: {{ product.category }}</p>
    <p>{{ product.description }}</p>
    <div *ngIf="product.group">
      <span *ngFor="let grp of product.group" class="badge badge-primary">{{ grp.name }}</span>
    </div>
    <br>
    <div *ngIf="loginService.token(); else elseBlock">
      <div *ngIf="!product.hidden">
        <div *ngIf="user != product.seller.username; else elseBlock2">
          <form [formGroup]="add_to_cartForm" (ngSubmit)="onAdd_to_cart(add_to_cartForm.value)">
            <div class="form-group">
              <label for="quantity" class="sr-only">Quantity</label>
              <input class="form-control w-25 float-left mr-1" name="quantity" type="number" min="1"
                     max="{{ product.stock }}"
                     placeholder="Quantity" aria-label="Quantity" id="quantity" formControlName="quantity">
              <button class="btn btn-primary" type="submit" >
                <i class="fa fa-cart-plus"></i>
                Add to Cart
              </button>
            </div>
          </form>
        </div>
        <ng-template #elseBlock2>
          <form [formGroup]="addStockForm" (ngSubmit)="onAddStock(addStockForm.value)">
            <div class="form-group">
              <label for="stockQuantity" class="sr-only">Stock</label>
              <input class="form-control w-25 float-left mr-1" name="stock" type="number" min="1"
                     placeholder="Stock to add" aria-label="stock" id="stockQuantity" formControlName="stockQuantity">
              <button class="btn btn-primary" type="submit" (click)="onAddStock(addStockForm.value)">
                <i class="fa fa-arrow-circle-up"></i>
                Add Stock
              </button>
            </div>
          </form>
          <form [formGroup]="addImgForm" (ngSubmit)="onAddImg(addImgForm.value)">
            <div class="form-group w-100">
              <label for="imageURL" class="sr-only">Image</label>
              <input class="form-control w-25 float-left mr-1" name="image" type="url"
                     placeholder="Image URL" aria-label="image" id="imageURL" formControlName="imageURL">
              <button class="btn btn-primary" type="submit" >
                <i class="fa fa-picture-o"></i>
                Add Image
              </button>
            </div>
          </form>
          <form [formGroup]="addGroupForm" (ngSubmit)="onAddGroup(addGroupForm.value)">
            <div class="form-group">
              <label for="group" class="sr-only">Group</label>
              <input class="form-control w-25 float-left mr-1" name="group" type="text"
                     placeholder="Group" aria-label="group" id="group" formControlName="group">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-object-group"></i>
                Add Group
              </button>
            </div>
          </form>
        </ng-template>
      </div>
      <div *ngIf="is_superuser">
        <form (ngSubmit)="onToggleVis()">
          <button class="btn btn-primary" type="submit">
            <i class="fa {{ fa_icon }}"></i>
            {{ hidden_toggle_text }}
          </button>
        </form>
      </div>
    </div>
    <ng-template #elseBlock>
      <a class="btn btn-secondary" routerLink="/login">Log in to add products to your cart</a>
    </ng-template>
  </div>
</div>

