<div class="container mt-3">
  <h3 *ngIf="type=='purchase'">Purchase History</h3>
  <h3 *ngIf="type=='sale'">Sale History</h3>
  <table class="table table-striped table-dark">
    <tr>
      <th>Transaction Date</th>
      <th>Transaction Number</th>
      <th>Total Transaction Price</th>
      <th>Product</th>
      <th>Quantity</th>
      <th *ngIf="type=='purchase'">Seller</th>
      <th *ngIf="type=='sale'">Buyer</th>
      <th>Payment Method</th>
    </tr>

    <tr *ngFor="let prod_inst of data">
      <td>{{ prod_inst.sale.date|date:'Y-M-d H:m' }}</td>
      <td>{{ prod_inst.sale.id }}</td>
      <td>{{ prod_inst.sale.total_price }} €</td>
      <td><a style="{'background-color': 'none!important'}" href="/products/{{ prod_inst.product_id }}">{{ prod_inst.product.name }}</a></td>
      <td>{{ prod_inst.quantity }}</td>
      <td>{{ prod_inst.product.seller.username }}</td>
      <td>{{ prod_inst.sale.paymentMethod }}</td>
    </tr>

  </table>
</div>
