{% extends "layout.html" %}
{% block content %}
    <div class="container mt-3">
        <div class="heading">
            <h1>
                Shopping Cart
            </h1>
        </div>

        <div class="cart">
            <table class="table table-striped table-dark">
                <tr>
                    <th style="width: 27%">Product</th>
                    <th style="width: 27%">Price</th>
                    <th style="width: 27%">Quantity</th>
                    <th style="width: 15%">Total</th>
                    <th style="width: 4%"></th>
                </tr>
                {% for prod_inst in prod_insts %}
                    <tr>
                        <td><a href="/products/{{ prod_inst.product_id }}">{{ prod_inst.product.name }}</a></td>
                        <td>{{ prod_inst.product.price|floatformat:2 }}</td>
                        <td>{{ prod_inst.quantity }}</td>
                        <td>{{ prod_inst.price|floatformat:2 }} €</td>
                        <td>
                            <form method="post" action="/removefromcart/">
                                {% csrf_token %}
                                <input name="productInstance" class="d-none" type="number" value="{{ product.id }}">
                                <button class="button btn-danger rounded" type="submit">
                                    <i class="fa-font fa fa-minus-circle"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total: {{ total|floatformat:2 }} €</td>
                    <td></td>
                </tr>
            </table>
            {% if prod_insts %}
                </div>
                <a href="checkout" class="btn btn-outline-success my-2 my-sm-0 btn-update">
                    <i class="fa fa-credit-card"></i>
                    Check Out
                </a>
                </div>
            {% endif %}
{% endblock %}