{% extends "layout.html" %}
{% block content %}
    {% if my_products_page %}
        <div class="container mt-3 p-1">
            <a href="/newproduct/" class="btn btn-primary">
                <i class="fa fa-plus-circle"></i>
                New Product
            </a>
        </div>
    {% endif %}
    <div class="container mt-3 p-1">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="mr-2">
                    {{ form.by_category.label_tag }}
                </div>
                <div>
                    {{ form.by_category }}
                </div>
                <div class="mr-2">
                    {{ form.by_group.label_tag }}
                </div>
                <div class="mr-2">
                    {{ form.by_group }}
                </div>
                <div class="mr-2">
                    {{ form.by_price_Lower.label_tag }}
                </div>
                <div class="mr-2">
                    {{ form.by_price_Lower }}
                </div>
                <div class="mr-2">
                    {{ form.by_price_Upper.label_tag }}
                </div>
                <div class="mr-2">
                    {{ form.by_price_Upper }}
                </div>
                <div class="mr-2">
                    {{ form.order.label_tag }}
                </div>
                <div class="mr-2">
                    {{ form.order }}
                </div>
                <input type="submit" value="Filter" class="btn btn-primary ml-2">
            </div>
        </form>
    </div>
    {% if search_prompt %}
        <p class="text-center">Results for: {{ search_prompt }}</p>
    {% endif %}
    <div class="container">
        {% for products in three_page_group %}
            <div class="card-group">
                {% for product in products %}
                    {% if product %}
                        <a class="text-white" href="/products/{{ product.id }}">
                            <div class="card">
                                {% csrf_token %}
                                <img class="card-img-top" src="{{ product.images.0.url }}" alt="Card image cap"
                                     style="height: 18rem; object-fit: scale-down">
                                <div class="card-body bg-secondary text-light">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h5 class="card-text">{{ product.price }}€</h5>
                                    {% if not product.group.all %}
                                        <br>
                                    {% endif %}
                                    {% for group in product.group.all %}
                                        <span class="badge badge-primary">{{ group.name }}</span>
                                    {% endfor %}
                                    {% if product.hidden %}
                                        <i class="fa fa-eye-slash"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="card" style="visibility: hidden"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}